<!DOCTYPE html>
<html>
  <head>
    <title><%= render_title %></title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript">
      function createKeenWebAutoCollector(){window.keenWebAutoCollector=window.KeenWebAutoCollector.create({projectId:'5a4fdc0246e0fb00018e320b',writeKey:'C08AC2ABDB96505ABF606B35758D164A9C3367AB26F012252B77FD3B14A2741F7B5C7C21DAE211DC1196FD85F1777C2DCE3FFF39DAF7C46BB5A1BF4098D04BADAD3F82A8E9D3596FA0B9A4A9289E67C2CE6EF1F211837C3335F501022352FBFD',onloadCallbacks:window.keenWebAutoCollector.onloadCallbacks}),window.keenWebAutoCollector.loaded()}
      function initKeenWebAutoCollector(){window.keenWebAutoCollector.domReady()?window.createKeenWebAutoCollector():document.addEventListener("readystatechange",function(){window.keenWebAutoCollector.domReady()&&window.createKeenWebAutoCollector()})}window.keenWebAutoCollector={onloadCallbacks:[],onload:function(a){this.onloadCallbacks.push(a)},domReady:function(){return["ready","complete"].indexOf(document.readyState)>-1}};
    </script>
  <script async type="text/javascript" src="https://d26b395fwzu5fz.cloudfront.net/keen-web-autocollector-1.0.8.min.js" onload="initKeenWebAutoCollector()"></script>

  </head>

  <body>
    <div ng-app="TourneySite">
      <%= yield %>
    </div>
  </body>
</html>
